[http]
	postBuffer = 524288000
[user]
	name = Jérôme Breton
	email = jerome.breton@gmail.com
[merge]
	tool = meld
	renamelimit = 5000
[credential]
	helper = store
[push]
	default = simple
[core]
	autocrlf = input
	editor = xed
[status]
	showUntrackedFiles = all
